@import '../../../styles/variables.scss';
@import '../../../styles/global.scss';



.logo__item{
  position: relative;
  flex: 33.333%;
  max-width: 100%;

  img{
    z-index: 2;
  }
}



@include for-tablet{
  .logo__item{
    z-index: 15;
    padding: 0 0 0 45px;
    img{
     max-height: 30px;
    }
  }
}
