@import '../../../styles/global';
@import '../../../styles/button.scss';

.cart {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

  .cart__title {
    text-align: center;
    font-weight: 700;
    color: #323941;
    line-height: 80%;
    font-size: 36px;
    margin: 35px 0 25px 0;
  }

  .cart__form {
    div {
      margin: 15px 0;
      font-size: 16px;
    }

    .cart__input {
      border: 1px solid #000;
      border-radius: 4px;
      width: 80%;
      height: 28px;
    }

    span {
      display: block;
      color: red;
    }
  }



  .btn {
    margin-top: 50px;
    width: 60%;
  }


}

@include for-tablet {
  .cart {
    .cart__title {
      font-size: 24px;
    }
  }
}