@import "./variables.scss";

.btn {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: $buttonColor;
  background: $buttonBackground;
  padding: 15px 0;
  width: 100%;
  &:hover {
    transform: scale(1.05, 1.05);
    transition: all 0.5s;
  }

  &:active {
    transform: scale(0.7, 0.7);
  }
}

.btn_disabled {
  background-color: #b4b4b4;
  &:hover {
    transform: none;
  }

  &:active {
    transform: none;
  }
}
