// ---------- COLORS --------------//

$primary: #323941;
$blue: #009eff;
$white: #ffffff;
$black: #323941;
$silver: #b4b4b4;

// ---------- COLOR VARIABLES ----------//

// Burger Menu
$burgerMenuIcoColor: $primary;
$burgerCloseIcoColor: $white;
$burgerLinkColor: $white;
$burgerBackground: $white;
$burgerNavBarColor: $white;
$burgerLinksColor: $primary;

// Navbar menu
$navBarColor: $primary;
$navLinkColor: $white;

// Navlogo
$navLogoText: $blue;

// Products
$productsBackground: $primary;

// Button
$buttonBackground: $blue;
$buttonColor: $white;

// Selected product
$selectedProductText: $black;
$selectedProductBorder: $silver;
