@import "../../../styles/variables.scss";
@import "../../../styles/global.scss";
@import "../../../styles/button.scss";

.navicons {
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 15;

  li:nth-child(1) {
    order: 3;
  }

  li:nth-child(2) {
    order: 2;
  }

  li:nth-child(3) {
    order: 1;
  }
}

.navicons__phone {
  display: block;
}

.navicons__img,
.navicons__phone {
  cursor: pointer;

  &:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s;
  }

  &:active {
    transform: scale(0.7, 0.7);
  }
}

.navicons__img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(135deg) brightness(103%) contrast(102%);
  height: 24px;
}

.navicons__phone {
  color: $burgerLinkColor;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 22px;
  z-index: 12;
}

.navicons__img_phone {
  display: none;
}

/// cart ///
.navicons__cartIco {
  position: relative;

  &:hover {
    .navicons__cartBox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .navicons__cartBox {
    overflow: auto;
    box-shadow: 5px 5px 25px -13px rgba(66, 68, 90, 1);
    border-radius: 3px;
    background-color: $white;
    width: 350px;
    max-height: 360px;
    padding: 25px;
    position: absolute;
    right: -20%;
    top: 100%;
    display: none;

    button {
      padding: 6px;
      font-size: 14px;
    }
  }

  .navicons__cartQuantity {
    position: absolute;
    color: white;
    background-color: $blue;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    top: -20%;
    right: -20%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@include for-laptop-l {
  .navicons {
    gap: 9px;
  }

  .navicons__phone {
    font-size: 16px;
  }
}

@include for-laptop {
  .navicons__phone {
    display: none;
  }

  .navicons__img_phone {
    display: block;
  }
}

@include for-tablet {
  .navicons__img {
    filter: none;
  }

  .navicons {
    li:nth-child(1) {
      order: 1;
    }

    li:nth-child(2) {
      order: 2;
    }

    li:nth-child(3) {
      order: 3;
    }
  }

  .navicons__cartIco {
    position: relative;
    &:hover {
      .navicons__cartBox {
        display: none;
      }
    }
  }
}
